{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-lg-8 bg-white container d-flex flex-column p-5 rounded-2 my-5 align-content-around">
        <h1>Poster un nouveau Code Promo</h1>
        {{ form(form) }}
    </div>

{% endblock %}
