{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-2">
    <section class="d-flex flex-row w-100">
        <div class="w-75 card-deck flex-row">
            {% for deal in aLaUne %}
                {% embed "commun/deal.html.twig" %}{% endembed %}
            {% endfor %}
        </div>

        <div class="w-25 bg-white rounded-2 ms-2 h-50" >
            <h6 class="h6 m-2 text-muted">Les + hots</h6>
            {% for deal in plusHot %}
            <div class="mx-2 my-1">
                <a href="{{ path('app_dealdetail', {'id': deal.id}) }}" class="text-decoration-none">
                    <p>
                        <span class="text-danger"> {{ deal.degree }}°</span>
                        <span> {{ deal.title }}</span>
                    </p>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock %}
