{% extends 'base.html.twig' %}

{% block title %}Hello GoodDealController!{% endblock %}

{% block body %}
    <div class="container card-deck flex-row my-2 px-5">
        {% for deal in promoCodes %}
            {% embed "commun/deal.html.twig" %}{% endembed %}
        {% endfor %}
    </div>
{% endblock %}
