$primary: #03a5c1 !default;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
    background-color: lightgray;
}

.deal-title:hover {
    text-decoration: underline !important;
}

.deal-old-price {
    text-decoration: line-through !important;
}

.text-strong {
    font-weight: bold;
}

.text-fit {
    font-weight: normal;
}

.text-xs {
    font-size: small;
}

.text-s {
    font-size: medium;
}

.text-m {
    font-size: large;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    border-right: none !important;
    border-left: none !important;
    border-bottom: 2px solid $primary !important;
    color: $primary !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-color: #e9ecef #e9ecef #dee2e6;
    isolation: isolate;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.brand-info-container {
    width: 90%;
}

.brand-avatar-container {
    width: 10%;
}

.avatar-xl {
    width: 7.14286em;
    height: 7.14286em;
}

.avatar-m {
    width: 3.85714em;
    height: 3.85714em;
}

.avatar-s {
    width: 2.57143em;
    height: 2.57143em;
}

.avatar-xs {
    width: 1.85714em;
    height: 1.85714em;
}

.btn-avatar:hover {
    border: 1px $primary solid !important;
}

.badge-container > div {
    border-bottom: 1px solid lightgray;
}

.badge-container > div:last-child {
    border-bottom: none !important;
}

.h-min-content {
    height: min-content;
}

.comment-container > div {
    border-bottom: 1px solid lightgray;
}

.comment-container > div:last-child {
    border-bottom: none !important;
}

.btn-avatar-without-img:hover {
    border: 1px solid lightgray !important;
    color: $primary !important;
}

.form-comment > form, {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.btn-vote {
    width: 1.7em;
    height: 1.7em;
}

.deal-img {
    width: 100%;
    height: 10.71429em;
}

@media (min-width: 25em) {
    .deal-img {
        height: 12.5em;
    }
}

@media (min-width: 34.375em) {
    .deal-img {
        height: auto;
        width: 8.57143em;
        padding: 0 .57143em 0 0;
    }
}

@media (min-width: 48em) {
    .deal-img {
        width: 11.42857em;
        padding-right: 1.14286em;
    }
}

@media (min-width: 64em) {
    .deal-img {
        width: 13.71429em;
    }
}