{%  block body %}
    <div class="container flex-row my-2 px-5">
        {% for deal in savedDeals %}
            {% embed "commun/deal.html.twig" %}{% endembed %}
        {% endfor %}
    </div>
{% endblock %}